# A * ensures that everything will be ignored.
*

# whitelist
!*.yaml
!.gitignore
!*.md

# folders
!alerts
!automations
!custom_components
!databases
!entities
!integrations
!lovelace-admin
!lovelace-enviroment
!lovelace-public
!lovelace-system
!panels
!python_scripts
!scripts
!shell_commands
1themes
1www


# Ignore folders.
.storage
.cloud
.google.token

# sensitive data
ip_bans.yaml
secrets.yaml
known_devices.yaml
